main {
    display: table;
    width: 100vw;
}

div.fishimg {
    max-width: 400px;
    max-height: 400px;
    display: inline-block;
}

div.fishimg svg {
    width: 80%;
    margin: 0 auto;
}

div.fishdescription {
    display: inline-block;
}

div.cannotAfford {
    color: #D8000C;
    background-color: #FFBABA;
    text-align: center;
    height: 50px;
}

aside.filterside {
    margin-left: 2vw;
    width: 15%;
    float: left;
}

div.articles {
    margin: 0 1vw 0 1vw;
    width: 65%;
    float: left;
    display: table-row;
}

td.label-column{
    width: 5rem;
}



input.name-form{
    color: rgb(108, 117, 125);
    font-weight: bold;
    width: 150px;
    border: none;
    text-align: center;
}

input.number-buy-form{
    width: 150px;
    border: none;
    text-align: center;
    margin-right: 10;
}


nav.filter-nav{
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span.shop-filter {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  cursor : pointer;
  display: block;
}



.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {
    padding : 20px;
    marker:none;
}

label.filter-label {
    color: black;
}

#touch {position: absolute; opacity: 0; height: 0px;}     

#touch:checked + .slide {height: 425px;} 

