body {
    background-color: #032236;
}

p {
    color: whitesmoke;
}

a:link {
    color: black; 
}

a:visited {
    color: black; 
}

footer {
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#aquariumContainer {
    background-color: #708FA3;
    margin: 3rem;
    width: 60vw;
    height: 80vh;
}

.fish {
    width: 40px;
    height: 40px;
    /*background-color:coral;*/
    position: relative;
}

.fish svg {
    width: 80%;
    margin: 0 auto;
    color: coral;
}