body {
    background-color: #032236;
}

h1,p {
    color: whitesmoke;
}

h1 {
    padding: 2vh 1vw 2vh 1vw;
}

a:link {
    color: black; 
}

a:visited {
    color: black; 
}

header {
    height: 56px;
}

footer {
    bottom: 0;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#aquariumContainer {
    position: relative;
    background-color: #708FA3;
    margin: 3rem;
    width: 85vw;
    height: 80vh;
}

.fish {
    width: 40px;
    height: 40px;
    /*background-color:coral;*/
    position: absolute;
}

.fish svg {
    width: 80%;
    margin: 0 auto;
}

*.carousel-item {
    height: 94vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}